* {
    font-family: "Bellefair", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900;
    outline: none;
}

body {
    background-color: #e8dabe;
}


.logo {
    width: 300px;
    display: block;
    margin: 20px auto;

}

main {
    width: 400px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

}

label {
    color: #554126;
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 10px;
}

select,
input {
    background: #ffff;
    border: 1px solid #d8d2c8;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 18px;
    font-weight: 700px;
    color: #554126;
    cursor: pointer;

}

input:hover {
    border-color: #bfa580;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #c8b18a;
}

button {
    background: #755935;
    border-radius: 12px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffff;
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
    padding: 14px 0;
    filter: brightness(1.1);
    transform: scale(1.02);
    transition: 0.2s ease;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.02);
    transition: 0.2s;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #755935;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    /* exemplo */
    margin: 15px 0;
    width: 60px;
    height: 70px;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.currency {
    color: #755935;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.currency-value, .currency-value-to-convert {
    color: #554126;
    font-size: 20px;
    font-weight: 700px;


}

.placeholder {
    font-size: 26px;

    .value-converted {
        font-size: 28px;
        text-shadow:
            0.3px 0 0 currentColor,
            -0.3px 0 0 currentColor,
            0 0.3px 0 currentColor,
            0 -0.3px 0 currentColor;
    }
}